@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/container-queries';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-border: var(--border);
  --color-border-variant: var(--border-variant);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-gold: var(--gold);
  --color-silver: var(--silver);
  --color-bronze: var(--bronze);

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility content-visibility-auto {
  content-visibility: auto;
}

@utility content-visibility-hidden {
  content-visibility: hidden;
}

@utility content-visibility-visible {
  content-visibility: visible;
}

@utility text-box-trim {
  text-box: trim-both cap alphabetic;
}

@layer base {
  :root {
    --s-surface: 0%;
    --s-container: 5%;
    --s-text: 9%;
    --s-border: 20%;

    --background: hsl(41 var(--s-surface) 95%);
    --foreground: hsl(41 var(--s-text) 4.1%);
    --card: hsl(41 var(--s-surface) 95%);
    --card-foreground: hsl(41 var(--s-text) 4.1%);
    --popover: hsl(41 var(--s-surface) 94.5%);
    --popover-foreground: hsl(41 var(--s-text) 4.1%);
    --primary: hsl(41 100% 49.4%);
    --primary-foreground: hsl(41 var(--s-text) 5%);
    --secondary: hsl(41 var(--s-container) 91%);
    --secondary-foreground: hsl(41 var(--s-text) 7%);
    --muted: hsl(41 var(--s-container) 91%);
    --muted-foreground: hsl(41 calc(var(--s-text) / 2) 39.7%);
    --accent: hsl(41 var(--s-container) 91%);
    --accent-foreground: hsl(41 var(--s-text) 7%);
    --destructive: hsl(0 50% 40%);
    --destructive-foreground: hsl(41 var(--s-text) 95%);
    --border: hsl(41 var(--s-border) 85%);
    --border-variant: hsl(41 var(--s-border) 85%);
    --input: hsl(41 var(--s-border) 85%);
    --ring: hsl(41 88.7% 45.3%);
    --radius: 0.45rem;

    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(7, 60%, 46%);

    --gold: hsl(51 100% 45%);
    --silver: hsl(0 0% 40%);
    --bronze: hsl(30 60% 35%);
  }

  .dark {
    --s-surface: 10%;
    --s-container: 5%;
    --s-text: 5%;
    --s-border: 6.5%;
    --l-bg: 4.1%;
    --fg: hsl(41 var(--s-text) 97.8%); /** shadcn, X, YouTube */

    --background: hsl(41 var(--s-surface) var(--l-bg));
    --foreground: var(--fg);
    --card: hsl(41 var(--s-surface) calc(var(--l-bg) - 0.2%));
    --card-foreground: var(--fg);
    --popover: hsl(41 var(--s-surface) calc(var(--l-bg) - 0.9%));
    --popover-foreground: var(--fg);
    --primary: hsl(41 100% 49.4%);
    --primary-foreground: hsl(41 var(--s-text) 5%);
    --secondary: hsl(41 calc(var(--s-container) / 5) 15.1%);
    --secondary-foreground: var(--fg);
    --muted: hsl(41 var(--s-container) 15.1%);
    --muted-foreground: hsl(41 calc(var(--s-text) / 2) 63.9%);
    --accent: hsl(41 var(--s-container) 15.1%);
    --accent-foreground: var(--fg);
    --destructive: hsl(0 48% 60%);
    --destructive-foreground: var(--fg);
    --border: hsl(41 var(--s-border) 15.1%);
    --border-variant: hsl(41 var(--s-border) 15.1%);
    --input: hsl(41 var(--s-border) 15.1%);
    --ring: hsl(41 88.7% 45.3%);

    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(7, 60%, 46%);

    --gold: hsl(51 100% 45%);
    --silver: hsl(0 0% 85%);
    --bronze: hsl(30 60% 50%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@supports not (overflow-wrap: anywhere) {
  .break-anywhere {
    word-break: break-word;
  }
}
@supports (overflow-wrap: anywhere) {
  .break-anywhere {
    overflow-wrap: anywhere;
  }
}
