name: 'backend jest'
on:
  pull_request:
    branches:
      - develop
      - main

permissions: write-all

jobs:
  paths-filter:
    runs-on: ubuntu-latest
    outputs:
      has-changes: ${{ steps.changes.outputs.has-changes }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            has-changes:
              - backend/**

  backend-test:
    runs-on: ubuntu-latest
    needs: paths-filter
    if: ${{ needs.paths-filter.outputs.has-changes == 'true' }}
    steps:
      - uses: actions/checkout@v4
      - name: 'Report Coverage'
        uses: ArtiomTr/jest-coverage-report-action@v2
        with:
          working-directory: backend
